---

---

<div class="card-container">
    <div class="card">
        <div class="text">
            <h3>Scenario Driven</h3>
            <p>Write acceptance tests from user's perspective. Make tests readable and easy to follow.</p>
        </div>

    </div>

    <div class="card">
        <div class="text">
            <h3>Driver Agnostic</h3>
            <p>Run your tests via <strong>Playwright, WebDriver, Puppeteer, TestCafe, Protractor, Appium</strong>. The code is the same.</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Interactive Debug</h3>
            <p>Control tests as they run. Pause tests at any point and execute commands to try locators.</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Rich Locators</h3>
            <p>Use semantic locators, CSS, XPath to find elements on page</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>PageObjects</h3>
            <p>PageObjects are essential to write stable and reusable code!</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Web & Mobile Testing</h3>
            <p>Test native mobile apps using <strong>Appium</strong> or <strong>Detox</strong></p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Cucumber-like BDD</h3>
            <p>Automate business scenarios as you do in CucumberJS</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>API Testing</h3>
            <p>Write tests for <strong>REST</strong> and <strong>GraphQL</strong> APIs </p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Data Management</h3>
            <p>Create fake data and clean it up via REST API</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Parallel Testing</h3>
            <p>Tests are split into chunks and executed in multiple processes.</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>Reduced Flackiness</h3>
            <p>Automatically retry failed steps</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>

    <div class="card">
        <div class="text">
            <h3>AI-powered</h3>
            <p>Use OpenAI GPT to heal failing tests</p>
        </div>
        <a href="/basics/#architecture" class="link-button">
            Learn More
        </a>
    </div>
</div>

<style lang="scss">
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        align-items: stretch;
        border: .5px solid #f0eded;
    }

    .card {
        background-color: var(--sl-color-bg-nav);
        margin-top: 0 !important;
        padding: 40px 25px 40px;
        display: flex;
        flex-direction: column;
        border: .5px solid #f0eded;

        h3 {
            font-size: 1.6rem;
        }

        .text {
            margin-bottom: 20px;
            line-height: normal;
        }

        .link-button {
            font-size: var(--sl-text-base);
            padding: .75rem 2rem;
            color: var(--sl-color-text-accent);
            border: 1px solid;
            border-color: var(--sl-color-text-accent);
            align-items: center;
            justify-content: center;
            border-radius: 999rem;
            display: inline-flex;
            gap: .5em;
            line-height: 1.1875;
            outline-offset: .25rem;
            text-decoration: none;
            margin-top: auto;
            width: 100%;
        }
    }
</style>