---

---

<h2>🚀 Get more of CodeceptJS</h2>
<p><a href="https://testomat.io">✅ Try Testomat.io, next-gen <strong>Test Management</strong> system for automated & manual tests. </a></p>
<p>Brought to you by creators of CodeceptJS.</p>