@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.docsearch-modal-footer-logo {
    display: none!important;
}

:root {
    --sl-color-text-accent: #805ad5 !important;
    --docsearch-primary-color: #ffe680 !important;
    --docsearch-text-color: rgb(28, 30, 33);
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-modal-container-background: rgba(101, 108, 133, 0.8);
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: rgb(245, 246, 247);
    --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), 0 3px 8px 0 rgba(85, 90, 100, 1);
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: rgb(235, 237, 240);
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: rgb(68, 73, 80);
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);
    --docsearch-key-gradient: linear-gradient( -225deg, rgb(213, 219, 228) 0%, rgb(248, 248, 248) 100% );
    --docsearch-key-shadow:
        inset 0 -2px 0 0 rgb(205, 205, 230),
        inset 0 0 1px 1px #fff,
        0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 rgb(224, 227, 232), 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
    --docsearch-icon-color: rgb(21, 21, 21);
    --sl-content-width: 58rem !important;
}

:root[data-theme="dark"] {
    --sl-color-text-accent: #ffe680 !important;
}

html[data-theme=dark] .docsearch-modal-btn-icon,
html[data-theme=dark] .docsearch-btn-placeholder {
    color: #edeef3;
}

:root {
    --sl-font: "Inter","Inter Fallback",-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,sans-serif;
}

/*a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {*/
/*    color: #ffe680;*/
/*}*/

/*:root[data-theme='light'],*/
/*[data-theme='light'] ::backdrop {*/
/*    --sl-color-text-accent: #7800b8;*/
/*}*/

/*[data-theme="light"] a:where(.astro-wkinvgav).starlight-sidebar-topics-current,*/
/*[data-theme="light"] a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {*/
/*    color: #7800b8;*/
/*}*/

body:not(:has(#starlight__sidebar)) .content-panel:has(h1#_top) {
    display: none;
}

body:not(:has(#starlight__sidebar)) .sl-container {
    max-width: 100%;
}

body:not(:has(#starlight__sidebar)) .content-panel {
    border: none;
    padding: 0;
    margin-top: -1.5rem;
}

body:not(:has(#starlight__sidebar)) main {
    padding-bottom: 0;
}

html[data-theme=dark] .right-group a {
    color: #d8d3d4 !important;
}

.right-group a {
    color: #3f3f47 !important;
    font-weight: 400;
}

.scroll-to-top-button {
    background-color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}

.scroll-to-top-button:hover svg {
    stroke: #ffffff !important;
}

[data-theme="light"] .scroll-to-top-button svg {
    stroke: #3f3f47 !important;
}

html[data-theme=dark] .scroll-to-top-button {
    background-color: #2a2627 !important;
}

.right-sidebar-panel ul ul {
    margin-left: 0.75rem;
    border-left: 1px solid #E0E0E0;
    padding-left: 0.5rem;
}

.right-sidebar-panel a {
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    margin: 2px 0;
    padding-left: 0.5rem;
}

.right-sidebar-panel a:hover {
    color: #212121;
    background: #F5F5F5;
}

.right-sidebar-panel a[aria-current="true"] {
    background: rgb(128,90,213,.1);
    color: #805ad5;
    text-shadow: -.2px 0 0 #805ad5, .2px 0 0 #805ad5;
    padding-left: 0.5rem;
}

.right-sidebar-panel a[aria-current="true"]:hover {
    background: rgb(128,90,213,.2);
}

html[data-theme=dark] .right-sidebar-panel a[aria-current="true"] {
    background: rgb(255,230,128,.1);
    color: #ffe680;
    text-shadow: -.2px 0 0 #ffe680, .2px 0 0 #ffe680;
}

html[data-theme=dark] .right-sidebar-panel a[aria-current="true"]:hover {
    background: rgb(255,230,128,.2);
}

html[data-theme=dark] .right-sidebar-panel ul ul {
    border-left: 1px solid #2a2a2a;
}

html[data-theme=dark] .right-sidebar-panel a:hover {
    background: #27272a;
}

html[data-theme=dark] .right-sidebar-panel a {
    color: #c1c3c8;
}

.sidebar-content ul a {
    margin: 2px 0;
    border-radius: 0.25rem;
}

.sidebar-content ul a:hover {
    background: #F5F5F5;
}

.sidebar-content ul a[aria-current="page"] {
    background: rgb(128,90,213,.1);
    color: #805ad5;
    text-shadow: -.2px 0 0 #805ad5, .2px 0 0 #805ad5;
    border-radius: 0.25rem;
}

.sidebar-content ul a[aria-current="page"]:hover {
    background: rgb(128,90,213,.2);
}

.starlight-sidebar-topics .starlight-sidebar-topics-current {
    border-radius: 0.25rem;
    background: rgb(128,90,213,.1);
    color: #805ad5 !important;
    text-shadow: -.2px 0 0 #805ad5, .2px 0 0 #805ad5;
}

.starlight-sidebar-topics .starlight-sidebar-topics-current:hover {
    background: rgb(128,90,213,.2);
}

.starlight-sidebar-topics a {
    color: #212121 !important;
}

html[data-theme=dark] ul a[aria-current="page"] {
    background: #656c761a;
}

html[data-theme=dark] .starlight-sidebar-topics a {
    color: #d8d3d4 !important;
}

html[data-theme=dark] .sidebar-content ul a:hover {
    background: #656c761a;
    color: #d8d3d4;
}

html[data-theme=dark] .starlight-sidebar-topics a:hover {
    color: #d8d3d4 !important;
}

html[data-theme=dark] .sidebar-content ul a[aria-current="page"] {
    background: rgb(255,230,128,.1);
    color: #ffe680;
    text-shadow: -.2px 0 0 #ffe680, .2px 0 0 #ffe680;
}

html[data-theme=dark] .sidebar-content ul a[aria-current="page"]:hover {
    background: rgb(255,230,128,.2);
}

html[data-theme=dark] .starlight-sidebar-topics .starlight-sidebar-topics-current {
    background: rgb(255,230,128,.1);
    color: #ffe680 !important;
    text-shadow: -.2px 0 0 #ffe680, .2px 0 0 #ffe680;
}

html[data-theme=dark] .starlight-sidebar-topics .starlight-sidebar-topics-current:hover {
    background: rgb(255,230,128,.2);
    color: #ffe680 !important;
}

html[data-theme=dark] .sidebar-pane {
    background-color: transparent;
}

html[data-theme=dark] header.header {
    background-color: transparent;
    backdrop-filter: blur(16px);
    transition: all .2s ease;
}

html[data-theme=dark] header.scrolled {
    background-color: #1a003b;
}

html[data-theme=dark] body {
    background-color: #18181c;
}

.home-header {
    background-color: transparent !important;
    backdrop-filter: blur(16px);
}

html[data-theme=dark] .bg-background-dark {
    background-color: #1a003b;
}

html[data-theme=dark] .fill-primary {
    fill: #ff5cb2;
}

.fill-primary {
    fill: #000000;
}


.bg-background-light {
    background-color: #f7f7f7;
}