:root,
::backdrop {
    --sl-color-text-accent: #ffe680;
    --swiper-theme-color: var(--sl-color-text-accent) !important;
}

:root {
    --sl-font: IBM Plex Sans,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {
    color: #ffe680;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
    --sl-color-text-accent: #7800b8;
}

[data-theme="light"] a:where(.astro-wkinvgav).starlight-sidebar-topics-current,
[data-theme="light"] a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {
    color: #7800b8;
}

body:not(:has(#starlight__sidebar)) .content-panel:has(h1#_top) {
    display: none;
}

body:not(:has(#starlight__sidebar)) .sl-container {
    max-width: 100%;
}

body:not(:has(#starlight__sidebar)) .content-panel {
    border: none;
    background-color: var(--sl-color-bg-nav);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -1.5rem;
}