.docsearch-modal-footer-logo {
    display: none!important;
}

:root {
    --docsearch-primary-color: #ffe680 !important;
    --docsearch-text-color: rgb(28, 30, 33);
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-modal-container-background: rgba(101, 108, 133, 0.8);
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: rgb(245, 246, 247);
    --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), 0 3px 8px 0 rgba(85, 90, 100, 1);
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: rgb(235, 237, 240);
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: rgb(68, 73, 80);
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);
    --docsearch-key-gradient: linear-gradient( -225deg, rgb(213, 219, 228) 0%, rgb(248, 248, 248) 100% );
    --docsearch-key-shadow:
        inset 0 -2px 0 0 rgb(205, 205, 230),
        inset 0 0 1px 1px #fff,
        0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 rgb(224, 227, 232), 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
    --docsearch-icon-color: rgb(21, 21, 21);
    --sl-content-width: 58rem !important;
}

html[data-theme=dark] .docsearch-modal-btn-icon,
html[data-theme=dark] .docsearch-btn-placeholder {
    color: #edeef3;
}

:root {
    --sl-font: IBM Plex Sans,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

/*a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {*/
/*    color: #ffe680;*/
/*}*/

/*:root[data-theme='light'],*/
/*[data-theme='light'] ::backdrop {*/
/*    --sl-color-text-accent: #7800b8;*/
/*}*/

/*[data-theme="light"] a:where(.astro-wkinvgav).starlight-sidebar-topics-current,*/
/*[data-theme="light"] a:where(.astro-wkinvgav):is(.starlight-sidebar-topics-current,:hover,:focus-visible) {*/
/*    color: #7800b8;*/
/*}*/

body:not(:has(#starlight__sidebar)) .content-panel:has(h1#_top) {
    display: none;
}

body:not(:has(#starlight__sidebar)) .sl-container {
    max-width: 100%;
}

body:not(:has(#starlight__sidebar)) .content-panel {
    border: none;
    padding: 0;
    margin-top: -1.5rem;
}

body:not(:has(#starlight__sidebar)) main {
    padding-bottom: 0;
}

html[data-theme=dark] .right-group a {
    color: #d8d3d4 !important;
}

.right-group a {
    color: #3f3f47 !important;
    font-weight: 400;
}

.scroll-to-top-button {
    background-color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}

.scroll-to-top-button:hover svg {
    stroke: #ffffff !important;
}

[data-theme="light"] .scroll-to-top-button svg {
    stroke: #3f3f47 !important;
}

html[data-theme=dark] .scroll-to-top-button {
    background-color: #2a2627 !important;
}

[data-slug="index"] header {
    background-color: red !important;
}

.right-sidebar-panel ul ul {
    margin-left: 0.5rem;
    border-left: 1px solid #E0E0E0;
    padding-left: 0.5rem;
}

.right-sidebar-panel a {
    transition: all 0.2s ease;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    margin: 2px 0;
}

.right-sidebar-panel a:hover {
    color: #212121;
    background: #F5F5F5;
    padding-left: 0.5rem;
}

.right-sidebar-panel a[aria-current="true"] {
    color: #212121;
    font-weight: 500;
    background: #F5F5F5;
    padding-left: 0.5rem;
}

html[data-theme=dark] .right-sidebar-panel a[aria-current="true"] {
    background: #27272a;
}

html[data-theme=dark] .right-sidebar-panel ul ul {
    border-left: 1px solid #2a2a2a;
}

html[data-theme=dark] .right-sidebar-panel a:hover {
    background: #27272a;
}

html[data-theme=dark] .right-sidebar-panel a {
    color: #c1c3c8;
}

.sidebar-content ul a {
    margin: 2px 0;
    transition: all 0.2s ease;
    border-radius: 0.25rem;
}

.sidebar-content ul a:hover {
    background: #F5F5F5;
}

.sidebar-content ul a[aria-current="page"] {
    background: #F5F5F5;
    color: #212121;
    border-radius: 0.25rem;
}

.starlight-sidebar-topics .starlight-sidebar-topics-current {
    border-radius: 0.25rem;
    background: #F5F5F5;
    color: #212121 !important;
    transition: all 0.2s ease;
}

.starlight-sidebar-topics a {
    color: #212121 !important;
}

html[data-theme=dark] ul a[aria-current="page"] {
    background: #656c761a;
}

html[data-theme=dark] .starlight-sidebar-topics .starlight-sidebar-topics-current {
    background: #656c761a;
    color: #d8d3d4 !important;
}

html[data-theme=dark] .starlight-sidebar-topics a {
    color: #d8d3d4 !important;
}

html[data-theme=dark] .sidebar-content ul a:hover {
    background: #656c761a;
    color: #d8d3d4;
}

html[data-theme=dark] .starlight-sidebar-topics a:hover {
    color: #d8d3d4 !important;
}

html[data-theme=dark] .sidebar-content ul a[aria-current="page"] {
    color: #d8d3d4;
}

html[data-theme=dark] .starlight-sidebar-topics .starlight-sidebar-topics-current {
    color: #d8d3d4 !important;
}

html[data-theme=dark] .sidebar-pane {
    background-color: #212830;
}

html[data-theme=dark] header.header {
    background-color: #212830;
}
