Performs a click on a link and waits for navigation before moving on.

```js
I.clickLink('Logout', '#nav');
// by ARIA locator
I.clickLink({ aria: 'Submit' });
```
@param {CodeceptJS.LocatorOrString} locator clickable link or button located by text, or any element located by CSS|XPath|ARIA|strict locator
@param {?CodeceptJS.LocatorOrString} [context=null] (optional, `null` by default) element to search in CSS|XPath|Strict locator
@returns {void} automatically synchronized promise through #recorder

