Retrieves an attribute from an element located by CSS or XPath and returns it to test.
Resumes test execution, so **should be used inside async with `await`** operator.
If more than one element is found - attribute of first element is returned.

```js
let hint = await I.grabAttributeFrom('#tooltip', 'title');
// by ARIA locator
const hint = await I.grabAttributeFrom({ aria: 'Tooltip' }, 'title');
```
@param {CodeceptJS.LocatorOrString} locator element located by CSS|XPath|ARIA|strict locator.
@param {string} attr attribute name.
@returns {Promise<string>} attribute value

