Grab number of visible elements by locator.
Resumes test execution, so **should be used inside async function with `await`** operator.

```js
let numOfElements = await I.grabNumberOfVisibleElements('p');
// by ARIA locator
I.grabNumberOfVisibleElements({ aria: 'Submit' });
```

@param {CodeceptJS.LocatorOrString} locator located by CSS|XPath|ARIA|strict locator.
@returns {Promise<number>} number of visible elements
