Retrieves all texts from an element located by CSS or XPath and returns it to test.
Resumes test execution, so **should be used inside async with `await`** operator.

```js
let pins = await I.grabTextFromAll('#pin li');
// by ARIA locator
I.grabTextFromAll({ aria: 'Submit' });
```

@param {CodeceptJS.LocatorOrString} locator element located by CSS|XPath|ARIA|strict locator.
@returns {Promise<string[]>} attribute value

