Checks that a given Element is present in the DOM
Element is located by CSS or XPath.

```js
I.seeElementInDOM('#modal');
// by ARIA locator
I.seeElementInDOM({ aria: 'Submit' });
```
@param {CodeceptJS.LocatorOrString} locator element located by CSS|XPath|ARIA|strict locator.
@returns {void} automatically synchronized promise through #recorder

