Switches frame or in case of null locator reverts to parent.

```js
I.switchTo('iframe'); // switch to first iframe
I.switchTo(); // switch back to main page
// by ARIA locator
I.switchTo({ aria: 'Submit' });
```

@param {?CodeceptJS.LocatorOrString} [locator=null] (optional, `null` by default) element located by CSS|XPath|ARIA|strict locator.
@returns {void} automatically synchronized promise through #recorder

