---
import {Image} from 'astro:assets';
import BC_LogoScreen_C from "./images/_BC_LogoScreen_C.jpg"
import doxyme from "./images/_doxyme.png"
import gen3 from "./images/_gen3.png"
import isotipo from "./images/_isotipo.png"
import kiabi from "./images/_kiabi.png"
import mynd from "./images/_mynd.png"
import zenitech from "./images/_zenitech.png"

import 'swiper/css';
import 'swiper/css/pagination';
---

<div class="swiper swiper-trusted">
    <div class="swiper-wrapper">
        {
            [BC_LogoScreen_C, doxyme, gen3, isotipo, kiabi, mynd, zenitech].map((data) =>
                <div class="swiper-slide">
                    <Image src={data} alt=""/>
                </div>
            )
        }
    </div>
    <div class="swiper-pagination"></div>
</div>

<style lang="scss">
    .swiper {
        margin-top: 0 !important;
        img {
            width: auto;
            max-width: 180px;
            max-height: 100px;
            filter: grayscale(.9);
            transition: all .2s ease;
            &:hover {
                filter: grayscale(0);
            }
        }

        .swiper-pagination-bullet-active {
            background: var(--sl-color-text-accent) !important;
        }
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
        background-color: #f6f7f9;
        border-radius: 1rem;
        height: 150px;
        padding: 1rem;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 2rem !important;
    }

</style>

<script>
    import Swiper from "swiper";
    import { Pagination, Autoplay } from "swiper/modules";
    document.addEventListener("astro:page-load", () => {
        const swiper = new Swiper(".swiper-trusted", {
            modules: [Pagination, Autoplay],
            slidesPerView: 5,
            spaceBetween: 30,
            loop: true,
            grabCursor: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 10000,
            },
        });
    });

</script>
